<div id="srchat_container">
	<div id="chat_body">
		<ul id="messages">
		</ul>
		<form id="srchat_form" action="">
			<div class="input-group">
				<input class="form-control input-sm" id="srchat_input" maxlength="120" autocomplete="off" />
				<span class="input-group-btn">
				<button class="btn btn-warning btn-sm" id="btn-chat">
					Send
				</button>
			</span>
			</div>
		</form>
	</div>
</div>
<!-- BEGIN css -->
<link href="/css/chat.css" rel="stylesheet">
<!-- END css -->
<link href="/libs/bower/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
<link href="/libs/bower/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf" rel="icon">