html {
    height: 100%;
}

#srchat_iframe_container, #srchat_container {
    display: inline-block;
    position: relative;
    float: right;
    width: 20%;
    height: 100%;
    overflow:hidden;
}

#srchat_container {
    overflow: auto;
}

#srchat_iframe {
    width: 100%;
    height: 100%;
}

#srchat_body {
    font: 13px Helvetica, Arial;
    color: black;
    background-color: white;
    height: 100%;
}

#srchat_form {
    background-color: lightgray;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
}

#srchatform button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0px 0 40px 0;
}

#srchat_container {
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

#srchat_container #messages {
    padding: 15px 0 0 0;
}

#messages li {
    clear: both;
    display: flex;
    height: fit-content;
}

.srchat_profile_picture {
    border-radius: 25px;
    border: 1px solid black;
}

.srchat_profile_picture_div {
    position: relative;
    float: left;
    margin: 5px 0px 0 25px;
    height: 30px;
    width: 30px;
}

.srchat_message_div {
    position: relative;
    float: left;
    margin: 10px;
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
}

.srchat_message_div p {
    word-wrap: break-word;
}

.srchat_message_content {
    margin-top: 5px;
    font-family: sans-serif;
}

.srchat_message_name {
    font-weight: bold;
    margin: 0;
    color: darkslategray;
    display: inline-block;
}

.srchat_message_sent {
    display: inline-block;
    float: right;
    font-size: 90%;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

div#srchat_retry_overlay {
    position: absolute;
}

div#srchat_retry_overlay_iframe  {
    position: fixed;
}

div#srchat_retry_overlay, div#srchat_retry_overlay_iframe {
    top: 0;
    left: 0;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

div#srchat_retry_overlay img, div#srchat_retry_overlay_iframe img {
    height: 60px;
    width: 60px;
    vertical-align: middle;
    animation: rotation 2s infinite linear;
}

span.srchat_pseudo_element {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-359deg);
    }
}


/* RESPONSIVE */
@media (max-width: 768px) {

}

/* RESPONSIVE */
@media screen and (max-device-width: 768px) {
    #srchat_iframe_container {
        float: left;
        width: 100%;
        overflow: visible;
        z-index: 100;
    }

    div#playerContainer {
        width: 100% !important;
    }

    #srchat_form {
        position: absolute;
        height: fit-content;
        top: 0;
    }

    ul {
        transform: rotate(180deg);
    }
    ul > li {
        transform: rotate(-180deg);
    }


    #srchat_body, #srchat_input, #btn-chat {
        font-size: 20px;
    }

    #srchat_input {
        height: 42px;
    }

    #messages {
        padding-bottom: 60px;
    }

}