html {
    height: 100%;
}

#srchat_iframe_container, #srchat_container {
    display: inline-block;
    position: relative;
    float: right;
    width: 290px;
    height: 100%;
    overflow: hidden;
}

#srchat_history_container {
    overflow: hidden !important;
}

#srchat_iframe_container, #srchat_history_container {
    border-left: 3px solid #aeaeae;
}

#srchat_iframe {
    width: 100%;
    height: 100%;
}

#srchat_body, #srchat_history_container {
    display: flex;
    flex-direction: column;
    font: 16px Helvetica, Arial;
    color: black;
    background-color: white;
    height: 100%;
    min-width: 192px;
    overflow-x: auto;
    overflow-y: hidden;
}

#srchat_title {
    text-align: center;
    color: #404040;
    width: 100%;
    padding: 5px 10px;
    border-bottom:1px solid #aeaeae;
    flex-shrink: 0;
}
#srchat_title h4 {
    line-height: 24px;
    margin: 3px 0 0 0 !important;
}

#chat_body {
    flex-grow: 1;
    overflow-y: auto;
}

#srchat_form {
    position: relative;
    flex-shrink: 0;
    height: 50px;
    background-color: white;
    padding: 10px 5px;
    border-top:1px solid #aeaeae;
    width: 100%;
    margin-bottom: 0;
}

#srchatform button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

#srchat_container {
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

#srchat_container #messages {
    padding: 15px 0 0 0;
}

#messages li {
    position: relative;
    clear: both;
    display: inline-flex;
    width: 100%;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    height: fit-content;
}
#messages li:not(:last-of-type) {
    margin-bottom: 10px;
}

#messages li.unread:before {
    right: -7px;
    content: "";
    position: absolute;
    height: 100%;
    width: 20px;
    top: -7px;
    background-image: radial-gradient(circle at center, red 5px, transparent 5px), radial-gradient(circle at center, red 5px, transparent 5px);
    background-size: 20px 20px;
    background-position: top right;
    background-repeat: no-repeat;
}

#unread_info {
    position: absolute;
    display: none;
    top: -15px;
    left: 10px;
    width: 150px;
    text-align: center;
    padding: 3px;
    color: white;
    font-size: 12px;
    font-weight: 100;
    background-color: red;
    border-radius: 5px;
}

.srchat_profile_picture {
    border-radius: 25px;
    border: 1px solid black;
}

.srchat_profile_picture_div {
    position: relative;
    float: left;
    height: 30px;
    width: 30px;
    flex-shrink: 0;
}

.srchat_message_div {
    position: relative;
    float: left;
    flex-grow: 1;
}

.srchat_message_div p {
    word-wrap: break-word;
}

.srchat_message_content {
    margin-top: 5px;
    font-family: sans-serif;
}

.srchat_message_name {
    font-weight: bold;
    margin: 0;
    color: darkslategray;
    display: inline-block;
}

.srchat_message_sent {
    display: inline-block;
    float: right;
    font-size: 90%;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

div#srchat_retry_overlay {
    position: absolute;
}

div#srchat_retry_overlay_iframe {
    position: fixed;
}

div#srchat_retry_overlay, div#srchat_retry_overlay_iframe {
    top: 0;
    left: 0;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

div#srchat_retry_overlay img, div#srchat_retry_overlay_iframe img {
    height: 60px;
    width: 60px;
    vertical-align: middle;
    animation: rotation 2s infinite linear;
}

span.srchat_pseudo_element {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-359deg);
    }
}


/* RESPONSIVE */
@media screen and (max-device-width: 768px) and (orientation: portrait) {
    body {
        display: flex;
        flex-flow: column;
        height: 100%;
    }

    body div#playerContainer {
        height: calc(100vw * 0.5625) !important;
    }

    div#srchat_iframe_container {
        flex-grow: 1;
        float: left;
        width: 100%;
        overflow: visible;
        z-index: 100;
    }

    ul {
        transform: rotate(180deg);
    }

    ul > li {
        transform: rotate(-180deg);
    }

    #srchat_iframe_container, #srchat_history_container {
        border-top: 3px solid #aeaeae;
        border-left: none;
    }
    #srchat_title {
        order: 0;
    }

    #srchat_form {
        height: fit-content;
        order: 1;
        border-top: none;
        border-bottom:1px solid #aeaeae;
    }
    #chat_body {
        order: 2;
    }

    #srchat_body, #chat_body, #srchat_input, #btn-chat {
        font-size: 16px;
    }

    #srchat_input {
        height: 36px;
    }
}


@media screen and (max-device-width: 768px) and (orientation: landscape) {
    #srchat_iframe_container, #srchat_history_container {
        display: none;
    }
}
