/* MULTI COLUMN*/
ul.c-listing-entity {
    display: grid;
    grid-template-columns: repeat(2, 1fr);;
    gap: 1rem;
}

div.c-entity.__container {
    height: 100%;
    grid-template-rows: min-content min-content min-content min-content min-content min-content 1fr;
}

@media (max-width: 2400px) {
    ul.c-listing-entity {
        grid-template-columns: repeat(2, 1fr);;
    }
}

@media (max-width: 1600px) {
    ul.c-listing-entity {
        grid-template-columns: 1fr;
    }
}

/* PROPERTIES*/
dl {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1rem;
}

dt {
    grid-column: 1;
}

dd {
    grid-column: 2;
}

@media (max-width: 600px) {
    dl {
        grid-template-columns: auto;
    }

    dt, dd {
        grid-column: 1;
    }
}


/* IMAGE SIZE */
.c-entity.__secondary-identifier.--image {
    width: 20rem !important;
}

@media (max-width: 991px) {
    .c-entity.__secondary-identifier.--image {
        width: 10rem !important;
    }
}


/* OVERLAY with Playbutton*/
.c-entity.__secondary-identifier.--image a.playable {
    position: relative;
    display: inline-block;
}

.c-entity.__secondary-identifier.--image a.playable::before {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none; /* so clicks pass through */
    background-image: radial-gradient(closest-side, rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0) 70%),
    url('../images/play.png');
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: 100% 100%, 64px 64px; /* vignette fills, button is 64px */
    transition: transform .18s ease;
}

.c-entity.__secondary-identifier.--image a.playable:hover::before {
    transform: scale(1.07);
}
