#xoct_available_participant, #xoct_group_participant {
    padding: 0;
    margin: 0;
}

.xoct_participant_available, li.list-group-item, a.list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    border-bottom: 1px solid #ddd;
    padding: 0.5rem 1rem;
}

.list-group-item > div, .list-group-item > span {
    flex-grow: 1;
    margin: 0;
}

.list-group-item button {
    flex-shrink: 0;
}

.xoct_add_user {
    margin-left: auto;
    margin-right: 0;
    background-color: #007bff;
}

.btn-default.xoct_group_delete {
    background-color: #f63b4c;
    border-color: #dc3545;
}


.xoct_group.active {
    background-color: #d8d8d8;
}

#xoct_add_new, #xoct_filter {
    margin-left: 1rem;
}
