.xoct_add_user, .xoct_remove_user {
    position: absolute;
    top: 10px;
    right: 10px;
}

.xoct_loader{
    float: right;
    display: none;
    top: 0%;
}

.xoct_loaded{
    float: right;
    display: none;
    top: 0%;
}

.xoct_members{
    display: none;
    margin: 5px;
    padding: 5px;
}

.xoct_groups_title{
    font-weight: bold;
    font-size: 18px;
}

.xoct_clear_groups_filter{
    cursor: pointer;
}

.xoct_clear_participants_filter{
    cursor: pointer;
}

.xoct_participants_title{
    font-weight: bold;
    font-size: 18px;
}

.xoct_group{
    padding: 5px;
    background-color: #FAFAFA;
    border-top: 1px solid #F0F0F0;
    overflow: auto;
}

.xoct_participants{
    /*margin: 10px;*/
    padding: 5px 5px 5px 20px;
    float: left;
    width: 45%;
}

.xoct_participants_holder{
    margin: 5px;
    padding: 5px;
    overflow: auto;
}

.xoct_groups{
    /*margin: 10px;*/
    padding: 5px 20px 5px 5px;
    float: left;
    width: 45%;

}

.xoct_group_info{
    background-color: yellow;
    display: none;
    font-weight: bold;
}

.xoct_member {
    background-color: #BBBBBB;
    float: left;
    font-size: 75%;
    line-height: 20px;
    margin: 5px 5px;

    overflow: hidden;
    padding: 10px 15px;
    page-break-before: auto;
    text-align: center;
    width: 15em;
    cursor: pointer;
    /*
    margin: 2px;
    border-style: groove;
    cursor: pointer;  */
    /*-moz-border-radius:5px;*/ /* Firefox */
    /*-webkit-border-radius:5px;*/ /* Safari, Chrome */
   /* -khtml-border-radius:5px;*/ /* Konqueror */
    /*border-radius:5px;*/ /* CSS3 */
}

.xoct_participant {
    background-color: #BBBBBB;
    float: left;
    font-size: 75%;
    line-height: 20px;
    margin: 0 5px 20px;
    overflow: hidden;
    padding: 10px 15px;
    page-break-before: auto;
    text-align: center;
    width: 15em;
    cursor: pointer;
    height: 160px !important;
}


.xoct_plus{
    font-weight: bold;
    color: green;
}
.xoct_minus{
    font-weight: bold;
    color: red;
}

#xoct_group_name_container{
    cursor: pointer;
}

.xoct_delete_group{
    cursor: pointer;
    clear: both;
    float: right;
    padding-right: 5px;
}