.xoct_pw_wrapper {
    position: relative;
}
.xoct_pw_toggle_container {
    position: absolute;
    top:51%;
    transform: translateY(-51%);
    right: 5px;
}
.xoct_pw_toggle_container .xoct_pw_toggle_item {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 100%;
}
.xoct_pw_toggle_container .xoct_pw_toggle_item.toggle-hide {
    display: none;
}
.xoct_pw_toggle_container .xoct_pw_icon {
    width: 20px;
    height: 20px;
}
