.overlay_live {
	position:absolute;
	top: 0;
	left: 0;
	text-align: center;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	color: white;
	z-index: 100;
}

.overlay_live_text {
	display: inline-block;
	font-size: 32px;
}

#playerContainer {
	font-family: roboto;
	font-weight: 600;
	width: 100vw;
	height: 100vh;
	left: 0px;
	top: 0px;
	position: relative;
	overflow: hidden;
}
