html {
	height: 100%;
}

#srchat_iframe_container, #srchat_container {
	display: inline-block;
	position: relative;
	float: right;
	width: 20%;
	height: 100%;
	overflow:hidden;
}

#srchat_container {
	overflow: auto;
}

#srchat_iframe {
	width: 100%;
	height: 100%;
}

div#playerContainer {
	display: inline-block !important;
	position: relative;
	float: left;
	width: 80% !important;
	height: 100%;
}

/* RESPONSIVE */
@media screen and (max-device-width: 768px) {
	#srchat_iframe_container {
		float: left;
		width: 100%;
	}

	div#playerContainer {
		width: 100% !important;
	}
}