html {
	height: 100%;
}

div#playerContainer {
	display: inline-block !important;
	position: relative;
	float: left;
	width: 80% !important;
	height: 100%;
}

/* RESPONSIVE */
@media screen and (max-device-width: 768px) {
	div#playerContainer {
		width: 100% !important;
	}
}