<script>
	/**
	 * @author Theodor Truffer <tt@studer-raimann.ch>
	 */
	$(document).ready(function () {
		xoctWaiter.init();
		xoctChangeOwner.init('{BASE_URL}', '#xoct_owner_container', '#xoct_available_participant_container', function () {
			xoctWaiter.show()
		}, function () {
			xoctWaiter.hide()
		});
		xoctChangeOwner.lngFromJson('{LANGUAGE}');
	});
</script>
<div class="row">
	<div class="col-xs-4">
		<h1>{VIDEO_TITLE}</h1>
	</div>
	<div class="col-xs-4">
		<h1>{HEADER_OWNER}</h1>
	</div>
	<div class="col-xs-4">
		<h1>{HEADER_PARTICIPANTS_AVAILABLE}</h1>
		<div class="input-group">
			<span class="input-group-addon" id="l_filter">{L_FILTER}</span>
			<input id="xoct_participant_filter" name="xoct_participant_filter" type="text" class="form-control" placeholder="{PH_FILTER}" aria-describedby="l_filter">
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<img class="xoct_preview_image" src="{PREVIEW}">
			</div>
		</div>
	</div>
	<div class="col-xs-4">
		<div id="xoct_owner_container"></div>
	</div>
	<div class="col-xs-4">
		<div id="xoct_available_participant_container"></div>
	</div>
</div>

