<tr class="{CSS_ROW} {ADDITIONAL_CSS}">
	<td class="std small">
		<div class="xoct_preview_image">
			{THUMBNAIL}
		</div>
	</td>
	<td class="std small">
		<div class="btn-group-vertical" role="group" >
			<!-- BEGIN link -->
			{LINK}
			<!-- END link -->
		</div>
	</td>
	<td class="std small">
		<!-- BEGIN title -->
		{TITLE}
		<!-- END title -->
		<!-- BEGIN state -->
		<br>{STATE}
		<!-- END state -->
	</td>
	<!-- BEGIN description -->
	<td class="std small">
		{DESCRIPTION}
	</td>
	<!-- END description -->
	<!-- BEGIN presenter -->
	<td class="std small">
		{PRESENTER}
	</td>
	<!-- END presenter -->
	<!-- BEGIN location -->
	<td class="std small">
		{LOCATION}
	</td>
	<!-- END location -->
	<!-- BEGIN start -->
	<td class="std small">
		{START}
	</td>
	<!-- END start -->
	<!-- BEGIN owner -->
	<td class="std small">
		{OWNER}
	</td>
	<!-- END owner -->
	<!-- BEGIN unprotected_link -->
	<td class="std small">
		{UNPROTECTED_LINK}
	</td>
	<!-- END unprotected_link -->
	<td class=" small text-right">
		{ACTIONS}
	</td>
</tr>