<tr class="{CSS_ROW} {ADDITIONAL_CSS}">
	<td class="std small">
		{PREVIEW_IMAGE}
	</td>
	<td class="std small">
		<div class="btn-group-vertical" role="group" >
			<!-- BEGIN link -->
			{LINK}
			<!-- END link -->
			<!-- BEGIN dropdown -->
			{DROPDOWN}
			<!-- END dropdown -->
		</div>
	</td>
	<!-- BEGIN generic_w_state -->
	<td class="std small">
		{VALUE}
		<br>{STATE}
	</td>
	<!-- END generic_w_state -->
	<!-- BEGIN generic -->
	<td class="std small">
		{VALUE}
	</td>
	<!-- END generic -->
	<td class=" small text-right">
		{ACTIONS}
	</td>
</tr>
