<tr class="{CSS_ROW} {ADDITIONAL_CSS} xoctSortable" data-id="{VAL_FIELD_ID}">
	<td class="std small">
		<span class="glyphicon glyphicon-resize-vertical"></span>
	</td>
	<td class="std small">
		{VAL_FIELD_ID}
	</td>
	<td class="std small">
		{VAL_TITLE_DE}
	</td>
	<td class="std small">
		{VAL_TITLE_EN}
	</td>
	<td class="std small">
		{VAL_VISIBLE_FOR_PERMISSIONS}
	</td>
	<td class="std small">
		<img src="./templates/default/images/icon_{VAL_REQUIRED}.svg">
	</td>
	<td class="std small">
		<img src="./templates/default/images/icon_{VAL_READ_ONLY}.svg">
	</td>
	<td class="std small">
		{VAL_PREFILL}
	</td>
	<td class="small">
		{VAL_ACTIONS}
	</td>
</tr>
