<tr class="{CSS_ROW} {ADDITIONAL_CSS} xoctSortable" data-id="{VAL_ID}">
	<td class="std small">
		<span class="glyphicon glyphicon-resize-vertical"></span>
	</td>
	<td class="std small center">
		<img width="25px" src="{VAL_DEFAULT}">
	</td>
	<td class="std small">
		{VAL_TITLE}
	</td>
	<td class="std small">
		{VAL_INFO}
	</td>
	<td class="std small">
		{VAL_ROLE}
	</td>
	<td class="std small center">
		<img width="25px" src="{VAL_READ}">
	</td>
	<td class="std small center">
		<img width="25px" src="{VAL_WRITE}">
	</td>
	<td class="std small">
		{VAL_ADDITIONAL_ACL_ACTIONS}
	</td>
	<td class="std small">
		{VAL_ADDITIONAL_ACTIONS_DOWNLOAD}
	</td>
	<td class="std small">
		{VAL_ADDITIONAL_ACTIONS_ANNOTATE}
	</td>
	<td class=" small text-right">
		{VAL_ACTIONS}
	</td>
</tr>
