<div class="alert hidden alert-danger" role="alert" id="wf-alert">
	<span class="hidden" id="no-workflow-seleced">{NO_WORKFLOW_SELECTED_ERROR_TEXT}</span>
	<span class="hidden" id="required">{CONFIG_PANEL_REQUIRED_ERROR_TEXT}</span>
</div>
<form id="{FORM_ID}" role="form" action="{FORM_ACTION}" method="post" class="form-horizontal preventDoubleSubmission startworkflow-form" novalidate="novalidate">
	<input type="hidden" name="startworkflow_event_id" id="startworkflow_event_id" value="">
	<div class="form-horizontal">
		<div class="form-group" id="workflow_id_block">
			<label for="workflow_id" class="col-sm-3 control-label">Workflow</label>
			<select aria-label="Workflow" class="form-control" id="workflow_id" name="workflow_id" required>
				{WORKFLOW_OPTIONS}
			</select>
		</div>
		{WORKFLOW_DESCRIPTIONS}
		{WORKFLOW_CONFIG_PANELS}
		<button type="submit" id="{FORM_SUBMIT_BTN_ID}" class="submit-btn"></button>
	</div>
</form>
<script type="text/javascript">
	$(document).ready(function() {
		$('#{FORM_SUBMIT_BTN_ID}').on('click', function(e) {
			e.preventDefault();
			let workflow_id = $('#workflow_id').val();
			if (!workflow_id || workflow_id == '') {
				$('#wf-alert').removeClass('hidden');
				$('#required').addClass('hidden');
				$('#no-workflow-seleced').removeClass('hidden');
				return;
			}
			let validated = true;
			let target_config_panel_id = '#config_panel_' + workflow_id;
			$(target_config_panel_id + ' .wf-inputs').each((index, element) => {
				let required = $(element).attr('required');
				let value = $(element).val();
				if (typeof required !== 'undefined' && required !== false && value.trim() == '') {
					validated = false;
				}
			});
			if (validated) {
				$('#{FORM_ID}').submit();
				let btn = $(this).parents('.modal-content').find('button.btn.btn-default.btn-primary');
				if (btn.length) {
					btn.prop('disabled', true);
				}
			} else {
				$('#wf-alert').removeClass('hidden');
				$('#required').removeClass('hidden');
				$('#no-workflow-seleced').addClass('hidden');
			}
			return false;
		});
		$('#workflow_id').on('change', function(e){
			$('#wf-alert').addClass('hidden');
			$('#required').addClass('hidden');
			$('#no-workflow-seleced').addClass('hidden');
			let workflow_id = this.value;
			let target_description_id = '#desc_' + workflow_id;
			let target_config_panel_id = '#config_panel_' + workflow_id;
			$('.workflows-description-section').addClass('hidden');
			$('.worflow-description-block').addClass('hidden');
			$('.workflows-configpanel-section').addClass('hidden');
			$('.workflows-configpanel-block').addClass('hidden');

			if ($(target_description_id).length) {
				$('.workflows-description-section').removeClass('hidden');
				$(target_description_id).removeClass('hidden');
			}

			$('.wf-inputs').each((index, element) => {
				let input_id = $(element).attr('id');
				if (input_id && $('#' + input_id + '_default').length) {
					let default_value = $('#' + input_id + '_default').val();
					$(element).val(default_value);
				}
			});

			if ($(target_config_panel_id).length) {
				$('.workflows-configpanel-section').removeClass('hidden');
				$(target_config_panel_id).removeClass('hidden');
			}
		});
	});
</script>
