<tr class="{CSS_ROW} {ADDITIONAL_CSS} xoctSortable">
	<td class="std small">
		<span class="glyphicon glyphicon-resize-vertical"></span>
		<input type="hidden" name="sort[]" value="{VAL_ID}">
	</td>
	<td class="std small">
		<img src="./templates/default/images/icon_{VAL_DEFAULT}.svg">
	</td>
	<td class="std small">
		{VAL_TITLE}
	</td>
	<td class="std small">
		{VAL_INFO}
	</td>
	<td class="std small">
		{VAL_ROLE}
	</td>
	<td class="std small">
		<img src="./templates/default/images/icon_{VAL_READ}.svg">
	</td>
	<td class="std small">
		<img src="./templates/default/images/icon_{VAL_WRITE}.svg">
	</td>
	<td class="std small">
		{VAL_ADDITIONAL_ACL_ACTIONS}
	</td>
	<td class="std small">
		{VAL_ADDITIONAL_ACTIONS_DOWNLOAD}
	</td>
	<td class="std small">
		{VAL_ADDITIONAL_ACTIONS_ANNOTATE}
	</td>
	<td class=" small text-right">
		{VAL_ACTIONS}
	</td>
</tr>