<div id="srchat_history_container">
    <div id="srchat_title">
        <h4>Chat</h4>
    </div>
    <div id="chat_body">
        <ul id="messages">
            <!-- BEGIN message -->
            <li>
                <div class="srchat_profile_picture_div">
                    <img class="srchat_profile_picture" height="30px" src="{PROFILE_PICTURE_PATH}">
                </div>
                <div class="srchat_message_div">
                    <div class="srchat_message_top">
                        <p class="srchat_message_name">{PUBLIC_NAME}</p>
                        <p class="srchat_message_sent">{SENT_AT}</p>
                    </div>
                    <p class="srchat_message_content">{MESSAGE}</p>
                </div>
            </li>
            <!-- END message -->
        </ul>
    </div>
</div>
<!-- BEGIN css -->
<link href="{CSS_PATH}" rel="stylesheet">
<!-- END css -->
<link href="/libs/bower/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
<link href="/libs/bower/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf" rel="icon">
