<div class="xoct_fileuploader">
	<div class="btn-group" role="group" style="width: 100%" >
		<button id="xoct_pickfiles" type="button" class="btn btn-default"><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;{BUTTON_SELECT}</button>
		<button id="xoct_file" style="width: 50%" type="button" class="btn btn-outline">&nbsp;</button>
		<button id="xoct_clear" type="button" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i> </button>
	</div>
	<input id="postvar_temp_file" type="hidden" name="{POSTVAR}[tmp_name]" value="">
	<input id="postvar_file_name" type="hidden" name="{POSTVAR}[name]" value="">
	<input id="postvar_size" type="hidden" name="{POSTVAR}[size]" value="">
	<input id="xoct_cmd" type="hidden" name="xoct_cmd" value="">
	<div class="help-block"><p>{FILETYPES}</p></div>
</div>
