<select id="license" name="license">

'http://creativecommons.org/licenses/by/2.5/ch/' => 'CC: Attribution',

'http://creativecommons.org/licenses/by-nc/2.5/ch/' => 'CC: Attribution-Noncommercial',

'http://creativecommons.org/licenses/by-nc-nd/2.5/ch/' => 'CC: Attribution-Noncommercial-No Derivative Works',

'http://creativecommons.org/licenses/by-nc-sa/2.5/ch/' => 'CC: Attribution-Noncommercial-Share Alike',

'http://creativecommons.org/licenses/by-nd/2.5/ch/' => 'CC: Attribution-No Derivative Works',

'http://creativecommons.org/licenses/by-sa/2.5/ch/' => 'CC: Attribution-Share Alike',

'" selected="selected' => 'As defined in content',

</select>