<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-type" content="text/html; charset=utf-8;">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	<!-- <link rel="icon" href="data:,"> -->
	<title>{TITLE}</title>
	<script src="{JQUERY_PATH}"></script>
	<script src="{ILIAS_BASIC_JS_PATH}"></script>
	<script type="text/javascript" src="./Customizing/global/plugins/Services/Repository/RepositoryObject/OpenCast/js/opencast/dist/index.js?3"></script>
	<link rel="stylesheet" href="{STYLE_SHEET_LOCATION}" type="text/css" media="screen" charset="utf-8">
	<style>
		body {
			margin: 0px;
		}
	</style>
</head>
<body>
<div id="playerContainer" class="player-container"></div>
<div id="overlay_live_waiting" class="overlay_live" hidden>
	<span class="xoct_pseudo_element"></span>
	<p id="overlay_live_waiting_text" class="overlay_live_text">{LIVE_WAITING_TEXT}</p>
</div>
<div id="overlay_live_interrupted" class="overlay_live" hidden>
	<span class="xoct_pseudo_element"></span>
	<p id="overlay_live_interrupted_text" class="overlay_live_text">{LIVE_INTERRUPTED_TEXT}</p>
</div>
<div id="overlay_live_over" class="overlay_live" hidden>
	<span class="xoct_pseudo_element"></span>
	<p id="overlay_live_over_text" class="overlay_live_text">{LIVE_OVER_TEXT}</p>
</div>
<script>
il.Opencast.Paella.player.init(
	{DATA},
	{JS_CONFIG}
)
</script>
{CHAT}
</body>
</html>
