<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8;">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{TITLE}</title>
	<script type="text/javascript" src="{PAELLA_PLAYER_FOLDER}/javascript/jquery.min.js"></script>
	<script type="text/javascript" src="{PAELLA_PLAYER_FOLDER}/javascript/lunr.min.js"></script>
	<script type="text/javascript" src="{PAELLA_PLAYER_FOLDER}/javascript/require.js"></script>
	<script type="text/javascript" src="{PAELLA_PLAYER_FOLDER}/javascript/paella_player_es2015.js"></script>
	<script type="text/javascript" src="./Customizing/global/plugins/Services/Repository/RepositoryObject/OpenCast/templates/paella_player.min.js?3"></script>
	<link rel="stylesheet" href="{STYLE_SHEET_LOCATION}" type="text/css" media="screen" charset="utf-8">
</head>
<body>
<div id="playerContainer"></div>
<div id="overlay_live_waiting" class="overlay_live" hidden>
	<span class="xoct_pseudo_element"></span>
	<p id="overlay_live_waiting_text" class="overlay_live_text">{LIVE_WAITING_TEXT}</p>
</div>
<div id="overlay_live_interrupted" class="overlay_live" hidden>
	<span class="xoct_pseudo_element"></span>
	<p id="overlay_live_interrupted_text" class="overlay_live_text">{LIVE_INTERRUPTED_TEXT}</p>
</div>
<div id="overlay_live_over" class="overlay_live" hidden>
	<span class="xoct_pseudo_element"></span>
	<p id="overlay_live_over_text" class="overlay_live_text">{LIVE_OVER_TEXT}</p>
</div>
<script>
xoctPaellaPlayer.init(
	{DATA},
	{JS_CONFIG}
)
</script>
{CHAT}
</body>
</html>
