@font-face {
    font-family: roboto;
    src: url(Roboto-Regular.ttf);
}

:root {
    --main-fg-color: #F9FAFB;
    --main-bg-color: #1F2937;
    --main-bg-color-hover: #374151;
    --secondary-bg-color-hover: #202020;
    --highlight-bg-color: #3073B8;
    --highlight-bg-color-hover: #2c6fb2;
    --playback-bar-gradient: rgba(31, 41, 55, 0.85);
    --playback-bar-gradient-hover: rgba(31, 41, 55, 1);
    --popup-wrapper-padding: 5px 5px;
    --playback-bar-container-gap2: 0;
    --progress-indicator-padding: 4px 15px;
    --playback-bar-buttons-padding: 4px 15px;
    --button-fixed-size: 40px;
    --button-icon-size: calc(var(--button-fixed-width) / 2);
    --popup-menu-item-icon-size: 24px;
    --player-font-family: "Roboto";
    --canvas-button-container-padding: 5px 5px;
    --canvas-button-height: 42px;
    --canvas-button-button-min-height: 28px;
    --canvas-button-max-height: 54px;
    --canvas-button-padding: 2%;
    --button-color: #ffffff;
    --icon-fill-color: #ffffff;
    --icon-stroke-color: none;
}

nav[role="toolbar"] button > i > svg {
    fill: var(--icon-fill-color) !important;
    stroke: var(--icon-stroke-color) !important;
}

.button-group-title,
.menu-button-title,
.playback-bar button,
.popup-content .title-bar {
    font-family: roboto;
    font-weight: bold;
}

.button-group .button-plugin-wrapper .button-description,
ul.menu-button-content li.menu-button-item button {
    font-family: roboto;
    font-weight: normal;
}

.button-group .button-plugin-wrapper .button-description {
    text-align: center;
    flex: 1;
}

.progress-indicator-container {
    forced-color-adjust: none;
}

  /* progress indicator style */
.progress-indicator {
    height: 25px;
    width: calc(100% - 30px);
    margin-left: 15px;
}

.progress-indicator .progress-indicator-content {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 6px;
}

.progress-indicator .progress-indicator-remaining {
    border-radius: 20px;
    height: 6px;
    background-color: #D1D5DB;
}

.progress-indicator .progress-indicator-handler {
    background-color: white;
    width: 16px;
    height: 16px;
}

  /* button area on videos */
.video-canvas .button-area button {
    background-color: var(--highlight-bg-color-hover);
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    padding: 4px;
}

  /* buttons in playbar */
.playback-bar .button-plugins .button-plugin-container button {
    border-radius: 7px;
}

.playback-bar .button-plugins {
    height: calc(var(--button-fixed-height) - 1px);
    padding: 4px;
}

.playback-bar .button-plugins.left-side {
    margin-left: 5px;
}

.playback-bar .button-plugins.right-side {
    margin-right: 5px;
}


/* align text in es.upv.paella.backwardButtonPlugin and es.upv.paella.forwardButtonPlugin */
.playback-bar .button-plugins .button-plugin-container button[name="es.upv.paella.backwardButtonPlugin"] div,
.playback-bar .button-plugins .button-plugin-container button[name="es.upv.paella.forwardButtonPlugin"] div{
    margin-top: -2px;
}

/* align icon in es.upv.paella.volumeButtonPlugin */
.playback-bar .button-plugins .button-plugin-container button[name="es.upv.paella.volumeButtonPlugin"] div {
    margin-top: 3px;
}


.button-group .button-plugin-container button[name="es.upv.paella.qualitySelector"] {
    padding: 0;
}

/* This should be in paella-core */
:root {
    --main-outline-color: #f200f2;
}

.playback-bar {
    -webkit-user-select: none;
    user-select: none;
}

.frame-control-plugin-container .image-list img {
    width: 160px;
}

  /* outline styles for buttons */
.player-container button,
.video-container .video-canvas .button-area button,
.button-group .button-plugin-container button {
    outline-style: none;
}

.player-container button:focus-visible,
.video-container .video-canvas .button-area button:focus-visible,
.button-group .button-plugin-container button:focus-visible {
    outline-color: var(--main-outline-color);
    outline-style: solid;
    opacity: 1;
}

/* Custom ILIAS LiveStream Indicators */
div.ilias-livestream-button {
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
div.ilias-livestream-button i {
    width: 12px !important;
}
