<div id="srchat_iframe_container">
    <span id="srchat_catcher">
	    <img src="/templates/default/images/comment_unlabeled.svg" onclick="console.log('hello');">
    </span>
    <iframe id="srchat_iframe" style="background-color:white;" src="{URL}"></iframe>
</div>
<!-- BEGIN css -->
<link href="{CSS_PATH}" rel="stylesheet">
<!-- END css -->
<link href="/libs/bower/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
<link href="/libs/bower/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf" rel="icon">
